<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-pontos-cardeais-heading"
        data-cy="PontosCardeaisCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.home.createOrEditLabel"
      >
        Create or edit a Pontos Cardeais
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.latitude" for="field_latitude"
            >Latitude</label
          >
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.longitude" for="field_longitude"
            >Longitude</label
          >
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.municipios" for="field_municipios"
            >Municipios</label
          >
          <select class="form-control" id="field_municipios" data-cy="municipios" name="municipios" formControlName="municipios">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                municipiosOption.id === editForm.get('municipios')!.value?.id ? editForm.get('municipios')!.value : municipiosOption
              "
              *ngFor="let municipiosOption of municipiosCollection; trackBy: trackMunicipiosById"
            >
              {{ municipiosOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
