<div>
  <h2 id="page-heading" data-cy="CadastroTrilhaHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.home.title">Cadastro Trilhas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cadastro-trilha"
        [routerLink]="['/cadastro-trilha/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.home.createLabel"> Create a new Cadastro Trilha </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cadastroTrilhas?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.home.notFound">No cadastroTrilhas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cadastroTrilhas && cadastroTrilhas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.descricao">Descricao</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.comprimento">Comprimento</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.dataHora">Data Hora</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.situacoesTrilha">Situacoes Trilha</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.pontosCardeais">Pontos Cardeais</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.cadastroTrilha.usuario">Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cadastroTrilha of cadastroTrilhas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cadastro-trilha', cadastroTrilha.id, 'view']">{{ cadastroTrilha.id }}</a>
          </td>
          <td>{{ cadastroTrilha.nome }}</td>
          <td>{{ cadastroTrilha.descricao }}</td>
          <td>{{ cadastroTrilha.comprimento }}</td>
          <td>{{ cadastroTrilha.dataHora | formatMediumDate }}</td>
          <td>
            <div *ngIf="cadastroTrilha.situacoesTrilha">
              <a [routerLink]="['/situacoes-trilha', cadastroTrilha.situacoesTrilha?.id, 'view']">{{
                cadastroTrilha.situacoesTrilha?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cadastroTrilha.pontosCardeais">
              <a [routerLink]="['/pontos-cardeais', cadastroTrilha.pontosCardeais?.id, 'view']">{{ cadastroTrilha.pontosCardeais?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cadastroTrilha.usuario">
              <a [routerLink]="['/usuario', cadastroTrilha.usuario?.id, 'view']">{{ cadastroTrilha.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cadastro-trilha', cadastroTrilha.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cadastro-trilha', cadastroTrilha.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cadastroTrilha)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
