<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pontosCardeais">
      <h2 data-cy="pontosCardeaisDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.detail.title">Pontos Cardeais</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pontosCardeais.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.latitude">Latitude</span></dt>
        <dd>
          <span>{{ pontosCardeais.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.longitude">Longitude</span></dt>
        <dd>
          <span>{{ pontosCardeais.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.pontosCardeais.trilha">Trilha</span></dt>
        <dd>
          <div *ngIf="pontosCardeais.trilha">
            <a [routerLink]="['/trilha', pontosCardeais.trilha?.id, 'view']">{{ pontosCardeais.trilha?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pontos-cardeais', pontosCardeais.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
