<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-trilha-heading"
        data-cy="TrilhaCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.trilha.home.createOrEditLabel"
      >
        Create or edit a Trilha
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.nomeTrilha" for="field_nomeTrilha"
            >Nome Trilha</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeTrilha"
            id="field_nomeTrilha"
            data-cy="nomeTrilha"
            formControlName="nomeTrilha"
          />
          <div *ngIf="editForm.get('nomeTrilha')!.invalid && (editForm.get('nomeTrilha')!.dirty || editForm.get('nomeTrilha')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeTrilha')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.nomeMunicipio" for="field_nomeMunicipio"
            >Nome Municipio</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeMunicipio"
            id="field_nomeMunicipio"
            data-cy="nomeMunicipio"
            formControlName="nomeMunicipio"
          />
          <div
            *ngIf="
              editForm.get('nomeMunicipio')!.invalid && (editForm.get('nomeMunicipio')!.dirty || editForm.get('nomeMunicipio')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeMunicipio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.descricao" for="field_descricao"
            >Descricao</label
          >
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.comprimento" for="field_comprimento"
            >Comprimento</label
          >
          <input
            type="number"
            class="form-control"
            name="comprimento"
            id="field_comprimento"
            data-cy="comprimento"
            formControlName="comprimento"
          />
          <div *ngIf="editForm.get('comprimento')!.invalid && (editForm.get('comprimento')!.dirty || editForm.get('comprimento')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comprimento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('comprimento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.dataHora" for="field_dataHora"
            >Data Hora</label
          >
          <div class="input-group">
            <input
              id="field_dataHora"
              data-cy="dataHora"
              type="text"
              class="form-control"
              name="dataHora"
              ngbDatepicker
              #dataHoraDp="ngbDatepicker"
              formControlName="dataHora"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataHoraDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.usuario" for="field_usuario">Usuario</label>
          <select class="form-control" id="field_usuario" data-cy="usuario" name="usuario" formControlName="usuario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.trilha.fotografias" for="field_fotografias"
            >Fotografias</label
          >
          <select class="form-control" id="field_fotografias" data-cy="fotografias" name="fotografias" formControlName="fotografias">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                fotografiasOption.id === editForm.get('fotografias')!.value?.id ? editForm.get('fotografias')!.value : fotografiasOption
              "
              *ngFor="let fotografiasOption of fotografiasSharedCollection; trackBy: trackFotografiasById"
            >
              {{ fotografiasOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
