<div>
  <h2 id="page-heading" data-cy="PontosVendaHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.home.title">Pontos Vendas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pontos-venda"
        [routerLink]="['/pontos-venda/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.home.createLabel"> Create a new Pontos Venda </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pontosVendas?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.home.notFound">No pontosVendas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pontosVendas && pontosVendas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.descricao">Descricao</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.avaliacao">Avaliacao</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.tiposPontosVenda">Tipos Pontos Venda</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.pontosCardeais">Pontos Cardeais</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.pontosVenda.fotografias">Fotografias</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pontosVenda of pontosVendas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pontos-venda', pontosVenda.id, 'view']">{{ pontosVenda.id }}</a>
          </td>
          <td>{{ pontosVenda.nome }}</td>
          <td>{{ pontosVenda.descricao }}</td>
          <td>{{ pontosVenda.avaliacao }}</td>
          <td>{{ pontosVenda.tiposPontosVenda }}</td>
          <td>
            <div *ngIf="pontosVenda.pontosCardeais">
              <a [routerLink]="['/pontos-cardeais', pontosVenda.pontosCardeais?.id, 'view']">{{ pontosVenda.pontosCardeais?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pontosVenda.fotografias">
              <a [routerLink]="['/fotografias', pontosVenda.fotografias?.id, 'view']">{{ pontosVenda.fotografias?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pontos-venda', pontosVenda.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pontos-venda', pontosVenda.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pontosVenda)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
